@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;	
    }
    body
    {
    margin : 0;
    padding: 0;
    justify-content: center;
    font-family:arial;
    display: flex;
    align-items: center;
    background-color: #f9f6fa;
    /* background: url(images/backbody.png)no-repeat center;
    background-size: cover; */
    
    }
    .text-container
    {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto; 
    text-align: center;
    margin-top: 0%;
   
    }

.compte .menu {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    margin-left: 118%;
    margin-top: 4%;
    }
.compte.memu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    }

.menu-btn{
    color: rgb(17, 17, 17);
    font-size: 20px;
    cursor: pointer;
    }
.compte .menu li{
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    
    }

    .mail{
        width: 25px;
        height: 25px;
        border: 1px;
        background-color: rgb(109, 57, 57);
        border-radius: 100%;
        color: #fff;
    }
    .mail a{
        color: #fff;  
    }

    .text-2{
    max-width: 600px;
    width: 100%;
    height: 55px;
    background-color: #fff;
     border: 2px solid rgb(187, 182, 182); 
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: -7%;
    }

    .text-2 > input {
    height: 50px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    } 

    .serche input {
     max-width: 160px;
    width: 100%;
    height: 35px;
    color: #cacaca; 
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    }

    .serche > input{
        background-color:#cacaca;
        outline: none;
        border: none;
        color: #333;   
    }

    .text-1 img{
    max-width: 600px;
    width: 100%;
    height: 300px;
    font-size: 60px;
    font-weight: 600;
    align-content: center;
    margin-top: -10%;
    }
   .text-3{
    font-size: 15px;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-top: 5%;
    }